body{
  background-color: gray;
  font-family: Arial;
  line-height: 1.5;
  margin: 30px;
  
  .artigo{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    h2{
      color: #cf5c3f;
    }
  }
}