$corFundoDestaque: #deedf7;
$corBordaDestaque: #aed0ea;
$corTextoDestaque: #222222;
$corFundoConteudo: #f2f5f7;
$corBordaConteudo: #dddddd;
$corFundoHover: #e4f1fb;
$corBordaHover: #74b2e2;
$corTextoHover: #0070a3;
$corFundoAtivo: #3baae3;
$corBordaAtivo: #2694e8;
$corTextoAtivo: #ffffff;
$corFundoErro: #cd0a0a;
$corTextoErro: #ffffff;
$corSombra: #cccccc;