div{
	display: flex;
}

@mixin coresBotao ($corFundo){
	$corFonte: #FFFFFF;
	@if(lightness($corFundo) > 50%){
		$corFonte: #000000;
	}	
	background-color: $corFundo;
	color: $corFonte;
}

button{
	margin-right: 10px;
	border:none;
	padding: 8px;
	min-width: 80px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;  
	border-radius: 4px;
	box-shadow: 0 1px #666666;
	&.alerta{
		@include coresBotao(#288014);
	}
	&.erro{
		@include coresBotao(#C41717);
	}
	&.warning{
		@include coresBotao(#FFFF03);
	}
}




